// Base colors

// Light shades. Use for background or text color of inverted designs.
$white: #f5f5ef;

// Light Accent. Accent colors.
$gray: #849eaf;

// Primary Brand. loberally applied to maintain identity
$blue-light: #2bc3ef;

// Dark Accent. Consider use.
$brown: #7c7170;

// Dark Shades: Use as text color for dark-on-light. or as background
// for inverted designs
$blue-dark: #203447;
