// Global Styles

// Threespot Sass library
// @import '~frontline-sass/dist/frontline';
@import 'frontline';

@import 'reset';
@import 'colors';
@import 'helpers';
@import 'homepage';

// Global Vars

$body-copy-font: 'Poppins', sans-serif;
$body-copy-min-size: 20px;
$body-copy-max-size: 24px;
$body-copy-line-height: 1.63;
$c-default: $white;

html {
  background-color: $blue-dark; // [1]
  color: $c-default;
  font-family: $body-copy-font;
  scroll-behavior: smooth; // [2]
}

a {
  color: $blue-light;
  text-decoration: none;
}

p {
  font-size: $body-copy-min-size;
}
